 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Catering Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <% data.forEach(function(d){ %>
        <center><h3><%= d.CatererName %></h3></center>
        <img src="<%= d.url %>" width="600" ><br>
        rating - <%= d.rating %> * <br>
        Address - <%= d.Address %> <br>
        Package - <%= d.Packages %> <br>
        <iframe width="480" height="250" src="<%= d.videos %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
        Feedback - <%= d.Feedback %><br>

    <% }) %>
    
</body>
</html>